<div class="confirm-delete-overlay">
  <div class="confirm-delete-box">
    <button class="close-button" (click)="onCancel()">✕</button>
    <div class="icon-container">
      <span class="icon">✖</span>
    </div>
    <h2>Você tem certeza disso?</h2>
    <p>Essa operação não pode ser revertida, só exclua se tiver certeza</p>
    <div class="button-group">
      <button class="cancel-button" (click)="onCancel()">Cancel</button>
      <button class="delete-button" (click)="onConfirm()">Delete</button>
    </div>
  </div>
</div>
