<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-content">
    <button class="close-button" (click)="closeModal()">×</button>
    <h3>{{ isEditMode ? 'Atualizar Item' : 'Adicionar Novo Produto' }}</h3>
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
      <label>
        Nome:
        <input type="text" formControlName="title" placeholder="Digite o nome do produto" />
      </label>
      <label>
        Descrição:
        <input type="text" formControlName="description" placeholder="Digite a descrição" />
      </label>
      <label>
        Preço:
        <input type="number" formControlName="priceNet" placeholder="Digite o preço" />
      </label>
      <label>
        Preço Líquido:
        <input type="number" formControlName="price" placeholder="Digite o preço líquido" />
      </label>
      <label>
        Categoria:
        <input type="text" formControlName="category" placeholder="Digite a categoria" />
      </label>
      <label>
        Desconto:
        <input type="number" formControlName="discount" placeholder="Digite o desconto" />
      </label>
      <div class="button-group">
        <button type="button" class="cancel-button" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="submit-button">{{ isEditMode ? 'Atualizar' : 'Adicionar' }}</button>
      </div>
    </form>
  </div>
</div>
